@media screen and (max-width:480px) {
    #section-main-image{
            height: 60%;
            width: 100%;
    }
    
    #section-main-image h1{
        font-size: 80px;
        text-align: center;
    }
    #section-main-image h3{
        font-size: 20px;
        text-align: center;
    }
    
    .nav ul{
        padding: 10%;
    }

    .nav ul li a{
        width: 80%;
    }

    div.product-grid{
        grid-row: auto;
        grid-column:initial;
        grid-template-columns: repeat(1, 1fr);
    }
    .product{
        width: 90%;
        padding: 0 10px;
    }
    .product-img{
        width: 60vh;
        display: grid;
        grid-row: auto;
    }
    #footer-contact{
        justify-content: bottom;
    }
    .container {
        width: 40%;
        padding: 40px 0px;
      
               }
    
    #contact-info .ul{
        justify-content: left;
        text-align: start;
    }

    #footer-contact{
        width: 100vh;
        margin-left: 0;
        justify-content: start;
    }

    #footer-contact .h2{
        display: block;
        text-align: center;
        justify-content: left;
    }

    .contact-form form {
     margin-left: 50px;
    text-align: center;
    padding: 30px;
                       }
}